<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Food</title>
</head>
<body>
<div class="container">
<h2>Add Food Details Heree...</h2>
<form action="addFood" method="post">
    {% csrf_token %}
    <table class="table table-stripe table-success">
        <tr>
            <td>Food Name</td>
            <td><input type="text" name="fname"></td>
        </tr>
        <tr>
            <td>Carbohydrates</td>
            <td><input type="text" name="carb"></td>
        </tr>
        <tr>
            <td>Fats</td>
            <td><input type="text" name="fat"></td>
        </tr>
        <tr>
            <td>Protein</td>
            <td><input type="text" name="pro"></td>
        </tr>
        <tr>
            <td>Calories</td>
            <td><input type="text" name="cal"></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Add Food" class="btn btn-success"></td>
        </tr>
    </table>

</form>
    </div>

</body>
</html>