 <!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link href="{% static 'css/css/bootstrap.min.css' %}" rel="stylesheet">
    <!--<script src="{% static 'js/js/bootstrap.min.css' %}" rel="stylesheet"> </script>-->
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.2.1/dist/chart.umd.min.js"></script>
</head>
<body>
<div class="container">
<h2>Welcomee to Food Trackig App...</h2>
   <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'Index' %}">FoodTracker</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'addfood' %}">Add Food</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Remove Food</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Pricing</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
            </li>
          </ul>
        </div>
      </div>
    </nav><br>
    <div class="row">
        <div class="col-sm-10">
            <label class="form-label"> Food Consumed Progress Bar </label>
            <div class="progress">
            <div id="progress-bar" class="progress-bar progress-bar-striped" role="progressbar" style="width:" aria-valuenow="0" aria-valuemin="0" aria-valuemax="1500"></div>
            </div>
        </div>
    </div> <br>
    <div class="row">
        <div class="col-md-12">
            <form method="post">
                {% csrf_token %}
                <div class="col-sm-2">
                    <label class="form-label">Select the Food Item here...</label>
                </div>
                <div class="col-sm-6">
                <select name="food_consume" id="food">
                    {% for f in food %}
                    <option value="{{f.name}}">{{f.name}}</option>
                    {% endfor %}
                </select>
                </div><br>
                <div class="col-sm-2">
                <button type="submit" class="btn btn-success">Add Food</button><br>
                </div>
            </form>
        </div>
    </div><br>
    <div class="row">
        <div class="col-md-6">
            <table class="table table-stripe table-success" id="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Carbohydrates</th>
                        <th>Fats</th>
                        <th>Protein</th>
                        <th>Calories</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for food in food_item %}
                        <tr>
                            <td>{{food.food_consume.name}}</td>
                            <td>{{food.food_consume.carbs}}</td>
                            <td>{{food.food_consume.fats}}</td>
                            <td>{{food.food_consume.protein}}</td>
                            <td>{{food.food_consume.calories}}</td>
                            <td><a href="{% url 'delFood' food.id %}" class="btn btn-danger">Delete</a> </td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <td id="1"><b>Total</b></td>
                        <td id="carbs"><b></b></td>
                        <td id="fats"><b></b></td>
                        <td id="pro"><b></b></td>
                        <td id="cal"><b></b></td>
                        <td><b></b></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-6">
            <h2>Food Consumed data in Pychart</h2>
            <div>
                <canvas id="myChart" ></canvas>
            </div>
        </div>
    </div>

</div>
</body>
<script type="text/javascript">
    table=document.getElementById("table")
    var carbs=0,fats=0,protein=0,calories=0;
    for(var i=1; i<table.rows.length-1; i++)
    {
        console.log(table.rows[i].cells[1].innerHTML);
        carbs=carbs+parseFloat(table.rows[i].cells[1].innerHTML);
        carbs=Math.round(carbs)
        fats=fats+parseFloat(table.rows[i].cells[2].innerHTML);
        fats=Math.round(fats)
        protein=protein+parseFloat(table.rows[i].cells[3].innerHTML);
        protein=Math.round(protein)
        calories=calories+parseFloat(table.rows[i].cells[4].innerHTML);
        calories=Math.round(calories)
    }
    console.log(fats);
    document.getElementById("carbs").innerHTML=carbs
    document.getElementById("fats").innerHTML=fats
    document.getElementById("pro").innerHTML=protein
    document.getElementById("cal").innerHTML=calories

    calpercent=(calories/1500)*100
    document.getElementById('progress-bar').setAttribute("style","width:"+calpercent+"%")

    totnutrient=carbs+fats+protein+calories
    percarbs=parseFloat(carbs/totnutrient)*100
    perfats=parseFloat(fats/totnutrient)*100
    perprotein=parseFloat(protein/totnutrient)*100
    percalories=parseFloat(calories/totnutrient)*100
    const ctx= document.getElementById("myChart");

        new Chart(ctx, {
        type: 'doughnut',
        data: {
            labels: ['Carbohydrate', 'Fat', 'Protein', 'Calories'],
            datasets: [{
                label: '# of Votes',
                data: [percarbs, perfats, perprotein, percalories],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
             }
            }
</script>
</html>